<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <div class="banner">
    <div class="content" data-aos="fade-down">
      <h1>
        <span>Here’s</span><br>
        JOANNE
      </h1>
      <p>Founder of “XXXD Official’’<br>& Graphic Designer</p>
      <ul class="pic">
        <li>
          <a href="#">
            <img
              src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/week2/behance.svg"
              alt="Be">
          </a>
        </li>
        <li>
          <a href="#">
            <img
              src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/week2/facebook.svg"
              alt="fb">
          </a>
        </li>
        <li>
          <a href="#">
            <img
              src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/week2/instagram.svg"
              alt="ig">
          </a>
        </li>
        <li>
          <a href="#">
            <img
              src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/week2/youtube.svg"
              alt="yt">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <%- contents %>

  <footer class="footer">
      <h2 data-aos="fade-up">Contact</h2>
      <ul data-aos="fade-up">
        <li>Mail：<a href="mailto:xxxd@hexschool.com">xxxd@hexschool.com</a></li>
        <li>Phone:<a href="tel:+886-910123456">0910123456</a></li>
      </ul>
  </footer>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
